
         <!-- jQuery 2.1.4 -->
      <script src="__PUBLIC__/plugins/jQuery/jQuery-2.1.4.min.js"></script>

      <header class="main-header">
        <!-- Logo -->
        <a href="__APP__" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>后台</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>投票系统管理</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown messages-menu">
                <a href="tel:<?php echo C('site_tel');?>">
                    电话:<?php echo C('site_tel');?>
                </a>
                </li>          

                <li class="dropdown messages-menu">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<?php echo C('site_qq');?>&amp;site=qq&amp;menu=yes" target="_blank">
                    微信:<?php echo C('site_qq');?>
                </a>
                </li> 
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="__PUBLIC__/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs">{$Think.session.loginUserName}</span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="__PUBLIC__/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                    最后登陆时间：<?php echo date("m-d H:s",$_SESSION["member"]['m_addtime']);?>
                    <small>IP:<?php echo $_SESSION["member"]['m_ip'];?></small>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{:U("Person/index")}" class="btn btn-default btn-flat">改密</a>
                    </div>
                    <div class="pull-right">
                      <a href="{:U("Public/logout")}"  class="btn btn-default btn-flat">退出</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="__PUBLIC__/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p>{$Think.session.loginUserName}</p>
              <a href="#"><i class="fa fa-circle text-success"></i>在线</a>
            </div>
          </div>
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">功能管理</li>
    
            <li class="treeview <?php if($_GET['ss'] == 1){echo "active";} ?>">
              <a href="#">
                <i class="fa  fa-user"></i><span>投票管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{:U("Vote/index",array("ss"=>1))}"><i class="fa fa-circle-o"></i>投票管理</a></li>
                <li><a href="{:U("Vote/form",array("ss"=>1))}"><i class="fa fa-circle-o"></i>报名管理</a></li> 
				 <li><a href="{:U("Vote/voteRecord",array("ss"=>1))}"><i class="fa fa-circle-o"></i>投票记录</a></li> 
                <li><a href="{:U("Pay/index",array("ss"=>1))}"><i class="fa fa-money"></i>付款记录</a></li>  
                <!--        
                 <li><a href="{:U("Vote/group",array("ss"=>1))}"><i class="fa fa-circle-o"></i>分组管理</a></li> 
                
                <li><a href="{:U("Vote/fans",array("ss"=>1))}"><i class="fa fa-circle-o"></i>粉丝管理</a></li>
                -->
				<li><a href="{:U("Vote/ad",array("ss"=>1))}"><i class="fa fa-circle-o"></i>轮播图管理</a></li>
              </ul>
            </li>



          <!--
           <li class="treeview <?php if($_GET['ss'] == 2){echo "active";} ?>">
            <a href="#">
              <i class="fa  fa-cog"></i><span>微信设置</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
              <li><a href="{:U("System/weixin",array("ss"=>2))}"><i class="fa fa-circle-o"></i>接口配置</a></li>
              <li><a href="{:U("System/diyMenu",array("ss"=>2))}"><i class="fa fa-circle-o"></i>自定义菜单</a></li>                
              <li><a href="{:U("System/reply",array("ss"=>2))}"><i class="fa fa-circle-o"></i>自定义回复</a></li> 
                          
            </ul>
          </li>
          -->

          <!--
            <li class="treeview <?php if($_GET['ss'] == 3){echo "active";} ?>">
              <a href="#">
                <i class="fa fa-retweet"></i><span>作弊管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu"> 
                <li><a href="{:U("Vote/verify",array("ss"=>3))}"><i class="fa fa-circle-o"></i>验证码设置</a></li>
              </ul>
            </li>


 


            <li class="treeview <?php if($_GET['ss'] == 4){echo "active";} ?>">
              <a href="#">
                <i class="fa fa-cubes"></i><span>存储管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu">
                <li><a href="{:U("System/qiniu",array("ss"=>4))}"><i class="fa  fa-circle-o"></i>七牛存储</a></li>
               
              </ul>
            </li>
          -->
            <li><a href="{:U("Person/index",array("ss"=>5))}"><i class="fa fa-circle-o text-yellow"></i> <span>修改密码</span></a></li>
            <li><a href="{:U("Public/logout")}"><i class="fa fa-circle-o text-red"></i> <span>退出</span></a></li>


          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
