html,body{
    height: 100vh;
    background:black url(./bg@3x.png) no-repeat center center;
    background-size: cover;
    /*padding-top: 25px;*/
}
[data-dpr="2"] html,body{padding-top: 50px;}
[data-dpr="3"] html,body{padding-top: 75px;}
/*logo*/
.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    height: 70px;
    /*background-color: #f6c740*/
}
[data-dpr="2"] .logo {
    height: 140px;
}
[data-dpr="3"] .logo {
    height: 210px;
}
.logo .imgLogoStyle{
    width: 166px;
    height: 70px;
}
[data-dpr="2"] .logo .imgLogoStyle{
    width: 332px;
    height: 140px;
}
[data-dpr="3"] .logo .imgLogoStyle{
    width: 498px;
    height: 210px;
}

/*个人信息*/
.PeopleInfo{
    /*background-color: blueviolet;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-top: 17px;
    /*height: 150px;*/
}
[data-dpr="2"] .PeopleInfo{margin-top: 34px;}
[data-dpr="3"] .PeopleInfo{margin-top: 51px;}

.pStyle{
    color: #F6C740;
    letter-spacing: 0;
    line-height: 21px;
    font-size: 15px;
}
[data-dpr="2"] .pStyle{
    font-size:30px;
    line-height: 42px;
}
[data-dpr="3"] .pStyle{
    font-size:45px;
    line-height: 63px;
}

/*作品*/
.PeopleWork{
    /*background-color: palegreen;*/
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-bottom: 60px;
}
[data-dpr="2"] .PeopleWork{
    margin-top: 60px;
}
[data-dpr="3"] .PeopleWork{
    margin-top: 90px;
}


.PeopleWork .imgStyle{
    width: 203px;
    height: 203px;
    border-radius: 101.5px;
    border:none;
}
[data-dpr="2"] .imgStyle{
    width: 406px;
    height: 406px;
    border-radius: 203px;
    border:none;
}
[data-dpr="3"] .imgStyle{
    width: 609px;
    height: 609px;
    border-radius: 304.5px;
    border:none;
}

/*code*/
.codeStyle{
    /*background-color: rebeccapurple;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-top: 22.5px;
}
[data-dpr="2"] .codeStyle{
    margin-top: 45px;
}
[data-dpr="3"] .codeStyle{
    margin-top: 67.5px;
}

.codeStyle .imgStyle{
    width: 85px;
    height: 85px;
    border:none;
}
[data-dpr="2"] .imgCodeStyle{
    width: 170px;
    height: 170px;
    border:none;
}
[data-dpr="3"] .imgCodeStyle{
    width: 255px;
    height: 255px;
    border:none;
}

/*code des*/
.codeDes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
}
[data-dpr="2"] .codeDes{
    margin-top: 10px;
}
[data-dpr="3"] .codeDes{
    margin-top: 15px;
}

.codeDesPStyle{
    color: #F6C740;
    letter-spacing: 0;
    line-height: 15.5px;
    font-size: 12px;
}
[data-dpr="2"] .codeDesPStyle{
    line-height: 31px;
    font-size: 24px;
}
[data-dpr="3"] .codeDesPStyle{
    line-height: 46.5px;
    font-size: 36px;
}

/*赞助*/
.zanZhuStyle{
    /*background-color: rebeccapurple;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10rem;
    margin-top: 23px;
}
[data-dpr="2"] .zanZhuStyle{
    margin-top: 46px;
}
[data-dpr="3"] .zanZhuStyle{
    margin-top: 69px;
}

.zanZhuStyle .imgStyle{
    width: 117px;
    height: 47px;
    border:none;
}
[data-dpr="2"] .imgZanZhuStyle{
    width: 234px;
    height: 94px;
    border:none;
}
[data-dpr="3"] .imgZanZhuStyle{
    width: 351px;
    height: 141px;
    border:none;
}