
         <!-- jQuery 2.1.4 -->
      <script src="__PUBLIC__/plugins/jQuery/jQuery-2.1.4.min.js"></script>

      <header class="main-header">
        <!-- Logo -->
        <a href="__APP__" class="logo">
          <!-- mini logo for sidebar mini 50x50 pixels -->
          <span class="logo-mini"><b>后台</b></span>
          <!-- logo for regular state and mobile devices -->
          <span class="logo-lg"><b>投票系统管理</b></span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
          <!-- Sidebar toggle button-->
          <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">

                <li class="dropdown messages-menu">
                <a href="tel:<?php echo C('site_tel');?>">
                  电话:<?php echo C('site_tel');?>
                </a>
              </li>          

                <li class="dropdown messages-menu">
                <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=<?php echo C('site_qq');?>&amp;site=qq&amp;menu=yes" target="_blank">
                  微信:<?php echo C('site_qq');?>
                </a>
              </li> 

              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <img src="__PUBLIC__/dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
                  <span class="hidden-xs"><?php echo $_SESSION["admin"]['admin_name'];?>
                  </span>
                </a>
                <ul class="dropdown-menu">
                  <!-- User image -->
                  <li class="user-header">
                    <img src="__PUBLIC__/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                    <p>
                    最后登陆时间：<?php echo date("m-d H:s",$_SESSION["admin"]['login_time']);?>
                    </p>
                  </li>
                  <!-- Menu Footer-->
                  <li class="user-footer">
                    <div class="pull-left">
                      <a href="{:U("Person/index")}" class="btn btn-default btn-flat">改密</a>
                    </div>
                    <div class="pull-right">
                      <a href="{:U("Public/logout")}"  class="btn btn-default btn-flat">退出</a>
                    </div>
                  </li>
                </ul>
              </li>
              <!-- Control Sidebar Toggle Button -->
              <li>
                <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
              </li>
            </ul>
          </div>
        </nav>
      </header>
      <!-- Left side column. contains the logo and sidebar -->
      <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
          <!-- Sidebar user panel -->
          <div class="user-panel">
            <div class="pull-left image">
              <img src="__PUBLIC__/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
              <p><?php echo $_SESSION["admin"]['admin_name'];?></p>
              <a href="#"><i class="fa fa-circle text-success"></i>在线</a>
            </div>
          </div>
          <!-- search form -->
          <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
              <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
          <!-- /.search form -->
          <!-- sidebar menu: : style can be found in sidebar.less -->
          <ul class="sidebar-menu">
            <li class="header">功能管理</li>
    
            <li class="treeview <?php if($_GET['ss'] == 1){echo "active";} ?>">
            <a href="#">
                <i class="fa fa-cog"></i><span>系统设置</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{:U("System/index",array("ss"=>1))}"><i class="fa fa-circle-o"></i>基本设置</a></li>
                <li><a href="{:U("System/admin",array("ss"=>1))}"><i class="fa fa-circle-o"></i>管理员列表</a></li> 
                <li><a href="{:U("System/deleteCache",array("ss"=>1))}"><i class="fa fa-circle-o"></i>清空缓存</a></li> 
                <li><a href="{:U("System/article",array("ss"=>1))}"><i class="fa fa-circle-o"></i>文章管理</a></li>
                <li><a href="{:U("System/template",array("ss"=>1))}"><i class="fa fa-circle-o"></i>模板管理</a></li>
            </ul>
            </li>

 


            <li class="treeview <?php if($_GET['ss'] == 2){echo "active";} ?>">
            <a href="#">
                <i class="fa fa-user"></i><span>会员管理</span>
                <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu">
                <li><a href="{:U("Member/index",array("ss"=>2))}"><i class="fa fa-circle-o"></i>会员管理</a></li>  
                <li><a href="{:U("Member/notice",array("ss"=>2))}"><i class="fa fa-circle-o"></i>会员公告</a></li>
            </ul>
            </li>
           


            <li class="treeview <?php if($_GET['ss'] == 3){echo "active";} ?>">
              <a href="#">
                <i class="fa fa-retweet"></i><span>投票管理</span>
                <i class="fa fa-angle-left pull-right"></i>
              </a>
              <ul class="treeview-menu"> 
                <li><a href="{:U("Vote/index",array("ss"=>3))}"><i class="fa fa-circle-o"></i>投票管理</a></li>
                <li><a href="{:U("Vote/form",array("ss"=>3))}"><i class="fa fa-circle-o"></i>报名管理</a></li>
                <li><a href="{:U("Vote/voteRecord",array("ss"=>3))}"><i class="fa fa-circle-o"></i>投票记录</a></li>
                <li><a href="{:U("Vote/ad",array("ss"=>3))}"><i class="fa fa-circle-o"></i>广告管理</a></li>
              </ul>
        </li>
        <li><a href="{:U("Person/index",array("ss"=>4))}"><i class="fa fa-circle-o text-yellow"></i> <span>修改密码</span></a></li>
        <li><a href="{:U("Public/logout")}"><i class="fa fa-circle-o text-red"></i> <span>退出</span></a></li>
          </ul>
        </section>
        <!-- /.sidebar -->
      </aside>
